$white: #FFFFFF;
$grey: #F3F2F1;
$light-black: #49676B;
$black: #365059;
$dark-black: #000038;
$light-blue: #78D6C6;
$blue: #419197;
$dark-blue: #12486B;
$highlight: #F5FCCD;

$font-main: 'Montserrat', sans-serif;

$font-size--biggest: rem(60px);
$font-size--bigger: rem(55px);
$font-size--big: rem(50px);
$font-size--medium-biggest: rem(40px);
$font-size--medium-bigger: rem(28px);
$font-size--medium-big: rem(22px);
$font-size--medium: rem(20px);
$font-size--medium-small: rem(18px);
$font-size--small: rem(16px);
$font-size--smaller: rem(14px);
$font-size--tiny: rem(12px);

$font-weight--boldest: 900;
$font-weight--bolder: 800;
$font-weight--bold: 700;
$font-weight--medium: 600;
$font-weight--medium-thin: 500;
$font-weight--thin: 400;