$font-title: 'Rozha One', system-ui;
$font-main: 'Momo Signature', cursive;

$light-pink: #fec8c8;
$pink: #fd7a7b;
$white: #ffffff;
$light-blue: #cbf2ec;
$blue: #76dcde;
$dark-blue: #159b9b;

h1 {
  font-family: $font-title;
}
h2,
h3 {
  font-family: $font-main;
  text-align: center;
  margin: 0 auto 1rem;
}

h1 {
  font-size: 10rem;
  font-weight: 700;
  color: $pink;
  line-height: 0.9;
  text-align: center;
  margin: 0;
  .sara,
  .pedro {
    font-size: 10rem;
    color: $pink;
    font-family: $font-title;
  }
  .sara {
    position: relative;
    //top: -3rem;
  }
  .pedro {
    position: relative;
    //top: 3rem;
  }
  .ampersand {
    position: relative;
    z-index: 1;
    font-size: 8rem;
    color: $pink;
    font-family: $font-title;
    filter: invert(1);
  }
}

.wed-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.text {
  max-width: 35rem;
  line-height: 1.5;
}

.photo {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  overflow: hidden;
  margin-top: 1rem;
  border: 0.5rem solid $white;
  border-bottom: 2rem solid $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  filter: blur(0.1px);
  @media screen and (max-width: $breakpoint__tablet--max) {
    width: 12rem;
    height: 12rem;
  }
}

.photo--animated {
  transition: transform 0.3s ease;
  &:nth-child(odd) {
    transform: rotate(-2deg);
    &:hover {
      transform: rotate(2deg) scale(1.1);
    }
  }
  &:nth-child(even) {
    transform: rotate(2deg);
    &:hover {
      transform: rotate(-2deg) scale(1.1);
    }
  }
}

@media screen and (max-width: $breakpoint__tablet--max) {
  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.9;
    .pedro,
    .sara {
      font-size: 6rem;
    }
    .ampersand {
      font-size: 5rem;
    }
  }
}
